.app-container{ 
    background-image: url('../assets/images/home/river-image.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
}
