.home__caption{
    padding: 4em 6em;
    opacity: 0;
}

.home__caption h1{
    font-size: 6em;
    line-height: 1em;
    
}

.home__caption h2{
    font-size: 3em;
    color: #329c43;
}

.home__caption__highlight{
    color: #329c43;
}

.green-text{
    color: #329c43;
}

.title,
.list-button{
    opacity: 0;
}

@media only screen and (max-width: 600px) {
    .home__caption{
        font-size: 7px;
    }
}
