
<div class="info__container">
    <div class="home__caption info__caption">
        <h1>
            <span class="title">Welcome </span><span class="title">to </span><br>
            <span class="green-text title">Ri</span><span class="title">ver </span><span class="title">User </span> <span class="title">Manangement </span><span class="title">Tool</span>   
        </h1>
        <br>
        <div class="list-button next-button" (click)="nextPage()">Show User List <mat-icon>arrow_forward_ios</mat-icon></div>
     </div>
</div>